<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="com.ifmo.web.coursework.entity.Age"/>
        <mapping class="com.ifmo.web.coursework.entity.Archaeologist"/>
        <mapping class="com.ifmo.web.coursework.entity.Artifact"/>
        <mapping class="com.ifmo.web.coursework.entity.Auction"/>
        <mapping class="com.ifmo.web.coursework.entity.Category"/>
        <mapping class="com.ifmo.web.coursework.entity.Chat"/>
        <mapping class="com.ifmo.web.coursework.entity.Collector"/>
        <mapping class="com.ifmo.web.coursework.entity.Complaint"/>
        <mapping class="com.ifmo.web.coursework.entity.ComplaintArtifact"/>
        <mapping class="com.ifmo.web.coursework.entity.ComplaintExpedition"/>
        <mapping class="com.ifmo.web.coursework.entity.ComplaintHuman"/>
        <mapping class="com.ifmo.web.coursework.entity.Country"/>
        <mapping class="com.ifmo.web.coursework.entity.Donation"/>
        <mapping class="com.ifmo.web.coursework.entity.ExcavationResult"/>
        <mapping class="com.ifmo.web.coursework.entity.Expedition"/>
        <mapping class="com.ifmo.web.coursework.entity.ExpeditionStage"/>
        <mapping class="com.ifmo.web.coursework.entity.Human"/>
        <mapping class="com.ifmo.web.coursework.entity.HumanChat"/>
        <mapping class="com.ifmo.web.coursework.entity.Message"/>
        <mapping class="com.ifmo.web.coursework.entity.Moderator"/>
        <mapping class="com.ifmo.web.coursework.entity.ParticipationExpedition"/>
        <mapping class="com.ifmo.web.coursework.entity.Record"/>
        <mapping class="com.ifmo.web.coursework.entity.RecordDonation"/>
        <mapping class="com.ifmo.web.coursework.entity.RecordParticipation"/>
        <mapping class="com.ifmo.web.coursework.entity.RecordPurchased"/>
        <mapping class="com.ifmo.web.coursework.entity.RecordSold"/>
        <mapping class="com.ifmo.web.coursework.entity.Researcher"/>
        <mapping class="com.ifmo.web.coursework.entity.Route"/>
        <mapping class="com.ifmo.web.coursework.entity.Sponsor"/>
        <mapping class="com.ifmo.web.coursework.entity.Stay"/>
        <mapping class="com.ifmo.web.coursework.entity.SubscriptionAuction"/>
        <mapping class="com.ifmo.web.coursework.entity.SubscriptionExpedition"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>